body {
	background-color: #000;
	font-size: 12pt;
	font-family: Georgia, Serif;
	background-image: url("sativa.png");
	color: #000;
}
h2 {
	color: #000;
}
img {
	border: solid;
	border-color: #000;
}
ul {
	text-decoration: bold;
}
a {
	text-decoration: none;
	font-family: Arial, Serif;
}
a:link{
	color: #FF8C00;
}
a:visited {
	color: #DC143C;
}
a:hover {
	color: #FF7F50;
}
a:active  {
	color: #5F9EA0;
}